.hamburger {
  background: url("/src/images/hamburger.png") no-repeat;
  background-size: 30px;
  background-position: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.3s ease;
  display: none;
}

.header {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
  transition: 0.5s ease;
}
.logo {
  width: 100px;
  height: 100px;
}
@media screen and (max-width: 1100px) {
  .header {
    padding: 15px 50px;
  }
}
@media screen and (max-width: 785px) {
  .header {
    padding: 15px 50px;
  }
  .logo {
    height: 80px;
    width: 80px;
  }
  .nav {
    display: none;
  }
  .nav a {
    margin-left: 1.5rem;
  }
  .hamburger {
    display: block;
  }
}
